素材/#【省赛决赛】简单工厂模式【定稿】.pdf
素材/#【省赛决赛】简单工厂模式【定稿】.ppsx
素材/《软件架构与设计模式》说课.pdf
素材/《软件架构与设计模式》说课.ppsx
素材/PAPI酱中老年表情包.png
素材/PowerPoint 实战之范本.pdf
素材/WEEK06——抽象工厂模式.pdf
素材/WEEK06——抽象工厂模式.ppsx
素材/百度总监 PPT事件.txt
素材/扁平图标.png
素材/第1章-数据模型 Part 1【多对多】.pdf
素材/第3章-SQL语句 II【完全版】.pdf
素材/拟物图标.jpg
素材/拟物图标2.jpg
素材/拟物图标2.png
素材/拟物图标3.png
素材/配色反例——背景色太深.pptx
素材/配色反例——太刺眼.ppt
素材/配色反例——颜色太多.png
素材/软件架构与设计模式_装饰模式.pdf
素材/软件架构与设计模式_装饰模式.ppsx
素材/思维导图 1.pdf
素材/思维导图2.pdf
素材/思维导图2.xmind
素材/思维导图3.pdf
素材/提纲的例子.png
素材/突出重点的例子.png
素材/图标作为图表素材.png
素材/图文无关.png
素材/图文无关——改良.png
素材/文字过多的例子.png
素材/文字过多的例子2.png
素材/文字过多的例子2——改良.png
素材/招生宣传简介（基本版）.ppsx
素材/招生宣传简介（新版）.pps
素材/指南 URL 二维码.png
素材/指南 URL.txt
素材/总结报告-清新扁平-多彩四色【模板中的各种元素】.pptx
